/* pt-serif-regular - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/pt-serif-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Serif'), local('PTSerif-Regular'),
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/pt-serif-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/pt-serif-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/pt-serif-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/pt-serif-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/pt-serif-v9-latin-regular.svg#PTSerif') format('svg'); /* Legacy iOS */
}

/* muli-regular - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Muli Regular'), local('Muli-Regular'),
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-700 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Muli Bold'), local('Muli-Bold'),
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/muli-v11-latin-700.svg#Muli') format('svg'); /* Legacy iOS */
}


/* icon fonts */

@font-face {
  font-family: 'accessories-exclusive';
  src:  url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/accessories-exclusive.eot?e6qs8p');
  src:  url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/accessories-exclusive.eot?e6qs8p#iefix') format('embedded-opentype'),
    url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/accessories-exclusive.ttf?e6qs8p') format('truetype'),
    url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/accessories-exclusive.woff?e6qs8p') format('woff'),
    url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/accessories-exclusive.svg?e6qs8p#accessories-exclusive') format('svg');
  font-weight: normal;
  font-style: normal;
}


/** GENERAL **/

.txt-center{text-align: center;}
.txt-left{text-align:left;}
.txt-right{text-align:right;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}

*{
  font-family: 'Muli', sans-serif;
  color: #5d5d5d;
  letter-spacing: 0.025em;
}

body{
    font-size: 12px;
    line-height: 150%;
}

div#vue-app{
	margin-top: 0px !important;
	background: white;
}

header#page-header {
    position: inherit !important;
}


/* TOP BAR */

#ae-top-bar {
    background: #f1f1f1;
    padding-top: 5px;
}

#ae-top-bar .top-bar-container ul {
    list-style:none;
    margin: 0px;
    padding: 0px;
   width: 100%;
}

#ae-top-bar .top-bar-container *{
	color: #828282 !important;
    font-size: 12px !important;
}

#ae-top-bar  .top-bar-container .row {
    padding: 4px 0px 8px 0px;
}

#ae-top-bar .top-bar-container  ul li{
    display:inline-block;
    width: calc(25% - 5px);
    text-align: center;
}

#ae-top-bar .top-bar-container  ul li:first-of-type{
   text-align:left;
}

#ae-top-bar .top-bar-container  ul li:last-of-type{
   text-align:right;
}

.top-bar{
	background: none !important;
}

@media(max-width:1200px){
	#ae-top-bar .top-bar-container ul li:nth-of-type(1){width:20%;}
	#ae-top-bar .top-bar-container ul li:nth-of-type(2){width:30%;}
	#ae-top-bar .top-bar-container ul li:nth-of-type(3){width:23%;}
	#ae-top-bar .top-bar-container ul li:nth-of-type(4){width:25%;}
}

@media(max-width:992px){
	#ae-top-bar .top-bar-container {
		display:none;
	}
	
}


/** MAIN HEADER **/

div#main-head {
    background: white;
    border-top: 1px solid #d8d8d8;
}

.header-content {
  padding: 45px 0px 25px 0px;
}

.header-content a,
.header-content a:hover{
	text-decoration: none;
}

.logo-wrapper img {
    max-width: 100%;
    height: auto;
}

header .col-md-4 .header-item-wrapper:first-of-type{
  margin-right: 40px;
}

.header-item-wrapper {
    display: inline-block;
    text-align: center;
    position: relative;
}

.header-item-wrapper i {
    font-size: 25px;
    color:black;
    display: inline-block;
    padding-bottom: 8px;
}

.header-item-wrapper span{
  color: #5d5d5d;
  font-size: 12px;
  line-height: 150%;
}

span#warenkorb-qty {
    position: absolute;
    top: -8px;
    right: 12px;
    background: black;
    color: white;
    border-radius: 100%;
    font-size: 10px;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 17px;
    text-align: center;
}

.search-box-inner{
	display: none;
}

header.activeSearch .search-box-inner{
	display: block;
}

#search-toggle{
position: absolute;
right: 0px;
top: -1px;
display: block;
width: 49px;
height: 42px;
text-align: center;
line-height: 54px;
border-left: 1px solid #d1d1d1;
border-right: 1px solid #d1d1d1;
cursor: pointer;
}

#search-toggle .ae-icon-magnifier{display: inline;}
#search-toggle .ae-icon-cross-circle{display: none;}
.content_search_form{display: none;}

#search-toggle:hover{
  background: #f1f1f1;
}

#search-toggle i {
  font-size: 20px;
}

header.activeSearch #search-toggle .ae-icon-magnifier{display: none;}
header.activeSearch #search-toggle .ae-icon-cross-circle{display: inline;}
header.activeSearch .content_search_form{display: block;}


/** SCROLL HEADER **/

  .scroll-down-logo{display: none;}

  body.scroll-header{
    padding-top: 201px;
  }

  body.scroll-header header#page-header {
    position: fixed !important;
    z-index: 999;
    background: white;
    width: 100%;
    top: -158px;
  }

  body.scroll-header header#page-header .scroll-down-logo{
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-right:10px;
  }

  body.scroll-header header#page-header .cat-welcome{
    display: none;
  }

   body.scroll-header header#page-header .mainNavigation > .navbar-nav{
    float: left;
    clear: none;
   }


/** NAV BAR **/


nav.navbar {
    background: white;
    text-align: left;
    border-top: 1px solid #d1d1d1 !important;
    border-bottom: 1px solid #d1d1d1 !important;
}

#mainNavbarCollapsable ul.mainmenu {
    float: left !important;
}

#mainNavbarCollapsable ul.mainmenu *{
    background: white;
    color: #4D4F4D !important;
}

#mainNavbarCollapsable ul.mainmenu *:hover{
    background: white;
    color:#4D4F4D;
}

#mainNavbarCollapsable ul.mainmenu>li.ddown>a {
    padding: 12px 17px 10px 17px;
    font-size: 15px;
    text-transform: uppercase;
}

#mainNavbarCollapsable ul.mainmenu>li.ddown>a:after {
    display: none;
}

li.ddown > ul {
    columns: 2;
    column-gap: 0px;
    break-inside: avoid-column !important;
    padding-bottom: 9px !important;
}
li.ddown > ul li {
   break-inside: avoid-column;
}

li.ddown > ul > li > a {
    padding: 11px 19px !important;
    min-height: 58px;
}

li.ddown > ul > li > a:hover {
  color: black !important;
}

#mainNavbarCollapsable ul.mainmenu>li>ul {
    background: white !important;
    margin-top: 1px;
    box-shadow: 0px 7px 10px #0000002e;
        padding-top: 9px;
}



/** CONTENT **/

div#page-body {
    padding-top: 30px;
}





/** icon font classes **/

[class^="ae-icon-"], [class*=" ae-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'accessories-exclusive' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.ae-icon-home:before {
  content: "\e600";
}
.ae-icon-shield-check:before {
  content: "\e668";
}
.ae-icon-heart:before {
  content: "\e68c";
}
.ae-icon-user:before {
  content: "\e71e";
}
.ae-icon-cart:before {
  content: "\e74d";
}
.ae-icon-bag-euro:before {
  content: "\e75f";
}
.ae-icon-bubble:before {
  content: "\e7d6";
}
.ae-icon-rocket:before {
  content: "\e837";
}
.ae-icon-truck:before {
  content: "\e857";
}
.ae-icon-icons2:before {
  content: "\e880";
}
.ae-icon-magnifier:before {
  content: "\e922";
}
.ae-icon-list4:before {
  content: "\e930";
}
.ae-icon-chevron-up:before {
  content: "\e939";
}
.ae-icon-chevron-down:before {
  content: "\e93a";
}
.ae-icon-chevron-left:before {
  content: "\e93b";
}
.ae-icon-chevron-right:before {
  content: "\e93c";
}
.ae-icon-chevrons-expand-vertical:before {
  content: "\e93d";
}
.ae-icon-chevrons-expand-horizontal:before {
  content: "\e93e";
}
.ae-icon-checkmark-circle:before {
  content: "\e959";
}
.ae-icon-cross-circle:before {
  content: "\e95a";
}
.ae-icon-plus-circle:before {
  content: "\e95b";
}
.ae-icon-circle-minus:before {
  content: "\e95c";
}
.ae-icon-arrow-down-circle:before {
  content: "\e95f";
}
.ae-icon-arrow-left-circle:before {
  content: "\e960";
}
.ae-icon-arrow-right-circle:before {
  content: "\e961";
}
.ae-icon-chevron-up-circle:before {
  content: "\e962";
}
.ae-icon-chevron-down-circle:before {
  content: "\e963";
}
.ae-icon-chevron-left-circle:before {
  content: "\e964";
}
.ae-icon-chevron-right-circle:before {
  content: "\e965";
}
.ae-icon-chevron-up-square:before {
  content: "\e995";
}
.ae-icon-chevron-down-square:before {
  content: "\e996";
}
.ae-icon-chevron-left-square:before {
  content: "\e997";
}
.ae-icon-chevron-right-square:before {
  content: "\e998";
}
