/* Enter your CSS here */

#ae-top-bar {
    background: #f1f1f1;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px 0px;
}

#ae-top-bar *{
  color: #828282 !important;
}

#ae-top-bar ul {
    list-style:none;
    margin: 0px;
    padding: 0px;
}

#ae-top-bar ul li{
    display:inline-block;
    width: calc(25% - 5px);
    text-align: center;
}

#ae-top-bar ul li:first-of-type{
   text-align:left;
}

#ae-top-bar ul li:last-of-type{
   text-align:right;
}

.top-bar{
	background: none !important;
}

@media(max-width:1200px){
	#ae-top-bar ul li:nth-of-type(1){width:20%;}
	#ae-top-bar ul li:nth-of-type(2){width:30%;}
	#ae-top-bar ul li:nth-of-type(3){width:23%;}
	#ae-top-bar ul li:nth-of-type(4){width:25%;}
}

@media(max-width:992px){
	#ae-top-bar{
		display:none;
	}
	
}