/* icon fonts */

@font-face {
  font-family: 'accessories-exclusive';
  src:  url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/accessories-exclusive.eot?e6qs8p');
  src:  url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/accessories-exclusive.eot?e6qs8p#iefix') format('embedded-opentype'),
    url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/accessories-exclusive.ttf?e6qs8p') format('truetype'),
    url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/accessories-exclusive.woff?e6qs8p') format('woff'),
    url('https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/fonts/accessories-exclusive.svg?e6qs8p#accessories-exclusive') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* TOP BAR */

#ae-top-bar {
    background: #f1f1f1;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px 0px;
}

#ae-top-bar .top-bar-container ul {
    list-style:none;
    margin: 0px;
    padding: 0px;
   width: 100%;
}

#ae-top-bar .top-bar-container *{
	color: #828282 !important;
    font-size: 12px !important;
}

#ae-top-bar  .top-bar-container .row {
    padding: 4px 0px 8px 0px;
}

#ae-top-bar .top-bar-container  ul li{
    display:inline-block;
    width: calc(25% - 5px);
    text-align: center;
}

#ae-top-bar .top-bar-container  ul li:first-of-type{
   text-align:left;
}

#ae-top-bar .top-bar-container  ul li:last-of-type{
   text-align:right;
}

.top-bar{
	background: none !important;
}

@media(max-width:1200px){
	#ae-top-bar .top-bar-container ul li:nth-of-type(1){width:20%;}
	#ae-top-bar .top-bar-container ul li:nth-of-type(2){width:30%;}
	#ae-top-bar .top-bar-container ul li:nth-of-type(3){width:23%;}
	#ae-top-bar .top-bar-container ul li:nth-of-type(4){width:25%;}
}

@media(max-width:992px){
	#ae-top-bar .top-bar-container {
		display:none;
	}
	
}


/** MAIN HEADER **/

.header-content {
  padding: 45px 0px 25px 0px;
}

.header-content a,
.header-content a:hover{
	text-decoration: none;
}

.logo-wrapper img {
    max-width: 100%;
    height: auto;
}

header .col-md-4 .header-item-wrapper:first-of-type{
  margin-right: 40px;
}

.header-item-wrapper {
    display: inline-block;
    text-align: center;
    position: relative;
}

.header-item-wrapper i {
    font-size: 25px;
    color:black;
}

.header-item-wrapper span{
  color: #5d5d5d;
}




/** icon font classes **/

[class^="ae-icon-"], [class*=" ae-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'accessories-exclusive' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.ae-icon-home:before {
  content: "\e600";
}
.ae-icon-shield-check:before {
  content: "\e668";
}
.ae-icon-heart:before {
  content: "\e68c";
}
.ae-icon-user:before {
  content: "\e71e";
}
.ae-icon-cart:before {
  content: "\e74d";
}
.ae-icon-bag-euro:before {
  content: "\e75f";
}
.ae-icon-bubble:before {
  content: "\e7d6";
}
.ae-icon-rocket:before {
  content: "\e837";
}
.ae-icon-truck:before {
  content: "\e857";
}
.ae-icon-icons2:before {
  content: "\e880";
}
.ae-icon-magnifier:before {
  content: "\e922";
}
.ae-icon-list4:before {
  content: "\e930";
}
.ae-icon-chevron-up:before {
  content: "\e939";
}
.ae-icon-chevron-down:before {
  content: "\e93a";
}
.ae-icon-chevron-left:before {
  content: "\e93b";
}
.ae-icon-chevron-right:before {
  content: "\e93c";
}
.ae-icon-chevrons-expand-vertical:before {
  content: "\e93d";
}
.ae-icon-chevrons-expand-horizontal:before {
  content: "\e93e";
}
.ae-icon-checkmark-circle:before {
  content: "\e959";
}
.ae-icon-cross-circle:before {
  content: "\e95a";
}
.ae-icon-plus-circle:before {
  content: "\e95b";
}
.ae-icon-circle-minus:before {
  content: "\e95c";
}
.ae-icon-arrow-down-circle:before {
  content: "\e95f";
}
.ae-icon-arrow-left-circle:before {
  content: "\e960";
}
.ae-icon-arrow-right-circle:before {
  content: "\e961";
}
.ae-icon-chevron-up-circle:before {
  content: "\e962";
}
.ae-icon-chevron-down-circle:before {
  content: "\e963";
}
.ae-icon-chevron-left-circle:before {
  content: "\e964";
}
.ae-icon-chevron-right-circle:before {
  content: "\e965";
}
.ae-icon-chevron-up-square:before {
  content: "\e995";
}
.ae-icon-chevron-down-square:before {
  content: "\e996";
}
.ae-icon-chevron-left-square:before {
  content: "\e997";
}
.ae-icon-chevron-right-square:before {
  content: "\e998";
}
